<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Svine House Mafia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" href="checkout.css">
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>Swine House Mafia</h1>
        </div>
    </header>

    <nav id="main-navbar">
        <div class="container">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../Categories/Categories.html">Category</a></li>
                <li><a href="../Products/AllProductPage.html">Products</a></li>
                <li><a href="../MyPage/myPage.html">My page</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="clr"></div>

    <section class="main-Section">
        
        <div class="main-box">
            <h1>Your cart</h1>
            <div class="checkout-top">
                <div class="cart">
                <p>Norwegian Lasse<span class="pris">600kr</span></p>
                <p>Icelandic Olof<span class="pris">600kr</span></p>
            </div>
            <div class="shipping">
                <h3>Shipping Adress</h3>
                <p class="shippingAdress">Name: Lasse Stefan Sigfridsson <br>Adress: Bakgatan 12 <br>Postal code: 252 31 City: Helsingborg</p>
            </div>
            </div>
            <div class="clr"></div> 
             <div class="cart">
                <h3>Choose delevery</h3>
                <p><input type="checkbox">PostNord<span class="pris">46kr</span></p>
                <p><input type="checkbox">Christmas Tomte<span class="pris">0kr</span><br>Includes a Tomteluva</p>
                <p><input type="checkbox">Pick up "Grisen i säcken"<span class="pris">100kr</span></p>   
            </div>
            <div class="clr"></div> 
            
            <div class="pay">
                <h3>Choose payment</h3>
                <p><input type="checkbox">Card</p>
                <p><input type="checkbox">Cash</p>
                <p><input type="checkbox">Swish</p>
            </div>

            <div class="clr"></div>  
            <div class="sub">
                <p class="subtotal">Subtotal<span class="pris">1246kr</span></p>            
                <button class="checkoutButton" type="button" >Buy now</button>
            </div> 
        </div>
        <div class="clr"></div>
    </section>

    <div class="clr"></div>

    <div class="container-footer">
        <footer id="main-footer">
            <p>Copyright &copy; 2018, Swine House Mafia</p>

        </footer>
    </div>
</body>
</html>