<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Svine House Mafia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" href="myPage.css">
  </head>
  <body>
  <header id="main-header">
    <div class="container">
      <h1>Swine House Mafia</h1>
    </div>
  </header>

  <nav id="main-navbar">
    <div class="container">
      <ul>
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">My page</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </div>
  </nav>

  <div class="clr"></div>

  <section class="main-Section">
    <header class="mp-header"><h1>My Page</h1></header>
    <section class="myPage-mainSection">
      <section id="mp-container">
        <section class="mp-main-personInfo border">
        <h3>Personal information</h3>
        <form class="mp-form">
          <label>Name</label>
          <input type="text" value="Anna">
          <label>Familyname</label>
          <input type="text" value="Andersson">
          <label>Adress</label>
          <input type="text" value="Skanegatan 35">
          <label>Zip code</label>
          <input type="text" value="264 45">
          <label>City</label>
          <input type="text" value="Stockholm">
          <label>Email</label>
          <input type="email" value="Anna@andersson.com">
          <label>Phone number</label>
          <input type="number" value="0704346534">
        </form>
      </section>
    </section>

    <section class="mp-main-container">
      <table class="mp-table">
          <tr>
            <th>Order Nr</th>
            <th>State</th>
            <th>Handling Date</th>
            <th>Sent/Picked up</th>
          </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
        <tr>
          <td>10470074</td>
          <td>Sent</td>
          <td>2018-10-05 18:21</td>
          <td>2018-10-08 09:30</td>
        </tr>
      </table>
    </section>
    </section>
  </section>

  <div class="clr"></div>

  <div class="container-footer">
    <footer id="main-footer">
      <p>Copyright &copy; 2018, Swine House Mafia</p>
    </footer>
  </div>
</body>
</html>