<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <section class="CategoryGrid">
        <section class="SwedishPig">Swedish Prime Pigs</section>
        <section class="NorwegianPig">Norwegian Lazy Pigs</section>
        <section class="IcelandicPig">Islandic Naked and Afraid Pigs</section>
        <section class="DanishSwine">Danish Swines</section>
    </section>
</body>
<style>

<canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">Your browser no canvas </canvas>
var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    ctx.arc(95, 50, 40, 0, 2 * Math.PI);
    ctx.stroke();
    </style>
</html>