<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <section class="productDetail">
        <section class="product">
            <img src="../../img/danskGris.jpg" width=30%  alt="cute pig">
            <h3>Olof</h3>
            <h4>Swedish Pig</h4>
            <p>Miss his tail and likes to <br> Sex: Male <br> Weight: 120kg <br> Color: Pink</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </section>
</body>
</html>