<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product: Danish Swine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="Product.css" />
    <script src="main.js"></script>
</head>
<body background="pig.jpg">
        <div class="container">
            <div class="item1">
            <p id ="ProductsH1">Danish Swines in Stock</p>
                <ul>
                <li><a href="DanPigDetails.html">Lasse</a></li>
                <li><a href="DanPigDetails2.htm">Olof</a></li></ul></div>
            <div class=" side ">
                <h2 id ="producth2">Product Info</h2>
                <p id="sidetext">Danish people preforms satanic rituals in which
                    they remove the pigs tail. 
                    for more information select a pig to the left 
                </p>  
            </div>
            <form id ="form" onsubmit ="alert(`Added ${form1.lastname.value} to Cart`)" name ="form1"></th>
                <input name="lastname"type ="text">
                    <input type = "submit" value ="Add to Cart">                
    </form>
        <div class="item2">
                
                              
                                  
                
             </div>  <!--Submit button-->
                
            </div>
</body>
</html>