<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
</head>
<body>
    <header>
        <h1>Swine House Maffia</h1>
    </header>
    <section class="productDetail">
        <section class="product">
            <img src="../../img/isländskGris.jpg" width=30%  alt="cute pig">
            <h3>Olof</h3>
            <h4>Icelandic Swine</h4>
            <p>Likes to work hard, and se the tv show Lyxfällan<br> Sex: Male <br> Weight: 140kg <br> Color: White and furry</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </section>
</body>
</html>