<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
</head>
<body>
    <section class="productDetail">
        <section class="product">
            <h3>Lasse</h3>
            <h4>Icelandic Swine</h4>
            <p>Hardworking pig and likes to drink<br> Sex: Male <br> Weight: 120kg <br> Color: Blue and red</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </section>
</body>
</html>