<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product: Icelandic Pig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="Product.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="item1">
            <p id ="ProductsH1">Icelandic Pigs in Stock</p>
            <ul>
            <li><a href="IcePigDetails.html">Lasse</a></li>
            <li><a href="IcePigDetails2.html">Olof</a></li></ul></div>
        <div class=" side ">
        <h2 id ="producth2">Product Info</h2>
        <p id="sidetext">These Pigs are descendants from abandoned Viking livestock. Forced to live on a cold lonely island these pigs
            developed fine looking body hair which today is considerd a delicacy.
            </p></div>
        <form id ="form" onsubmit ="alert(`Added ${form1.lastname.value} to Cart`)" name ="form1"></th>
            <input name="lastname" type ="text">
                <input type = "submit" value ="Add to Cart">                
</form>
            
        </div>
</body>
</html>