<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
</head>
<body>
    <header>

    </header>
    <div class="productDetail">
        <section class="product">
            <a class="backButton" href="IcePig.html">Back</a>
            <h3>Olof</h3>
            <h4>Icelandic Swine</h4>
            <p>Likes to work hard, and se the tv show Lyxfällan<br> Sex: Male <br> Weight: 140kg <br> Color: White and furry</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </div>
</body>
</html>