<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Svine House Mafia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Swine House Mafia</h1>
        </div>
    </header>

    <nav id="main-navbar">
        <div class="container">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../Categories/Categories.html">Category</a></li>
                <li><a href="../Products/AllProductPage.html">Products</a></li>
                <li><a href="../MyPage/myPage.html">My page</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="clr"></div>
    <div class="container">
        <div class="item1">
            <p id ="ProductsH1">Icelandic Pigs in Stock</p>
            <ul>
            <li><a href="IcePigDetailsFull.html">Lasse</a></li>
            <li><a href="IcePigDetails2Full.html">Olof</a></li></ul></div>
        <div class=" side ">
        <h2 id ="producth2">Product Info</h2>
        <p id="sidetext">These Pigs are descendants from abandoned Viking livestock. Forced to live on a cold lonely island these pigs
            developed fine looking body hair which today is considerd a delicacy.
            </p></div>
        <form id ="form" onsubmit ="alert(`Added ${form1.lastname.value} to Cart`)" name ="form1"></th>
            <input name="lastname" type ="text">
                <input type = "submit" value ="Add to Cart">                
</form>
<div class="clr"></div>
</div>

<div class="container-footer">
    <footer id="main-footer">
        <p>Copyright &copy; 2018, Swine House Mafia</p>
    </footer>
</div> 
</body>
</html>