<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product: Norwegian Pig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="Product.css" />
    <script src="main.js"></script>
</head>
<body background="pig.jpg">
        <p>Navbar Here . . . ?</p>
        <div class="container">
            <div class="item1">
            <p id ="ProductsH1">Norwegian Pigs in Stock</p>
                <ul>
                <li><a href="NorPigDetail.html">Olof</a></li>
                <li><a href="NorPigDetails2.html">Lasse</a></li></ul></div>
            <div class=" side ">
            <h2 id ="producth2">Product Info</h2>
            <p id="sidetext">Our norwegian  pigs are one of our finest breeds.
            Breed for generations by vikings, this breed of pig is extremly versitile
            in combat. Also tastes amazing!
            for more information select a pig to the left </p></div>
            <form id ="form" onsubmit ="alert(`Added ${form1.lastname.value} to Cart`)" name ="form1"></th>
                <input name="lastname"type ="text">
                    <input type = "submit" value ="Add to Cart">                
    </form>
        <div class="item2">
                
                              
                                  
                
             </div>  <!--Submit button-->
                
            </div>
</body>
</html>