
@import "../../../css/vars";

ul{
    
    list-style-type: none;
}


li:hover{
transform: scale(1.1);
}

li{
    transition:  transform 1s;
    font-weight: bold;
    max-width: 150px;
    BORDER: 1px solid $PigPink;
}

.container {
    
    font-size: 40px;
    display: grid;
    grid-template-areas: "PL  Info";
    grid-auto-columns: minmax(45%, auto);
    grid-template-rows: 51%, 51%;
    grid-gap: 10px;
    text-align: center;
    
    

  }
  
  .item1{
      grid-area: PL ;
      
    border: 2px solid $Red;
    border-radius: 7px;
    background-color: $PigPink;
    
}



.side{
grid-area:   Info;
max-width: 50%;
border-radius: 7px;
border: 2px solid $Red;
background-color: White;
margin-left:auto;
    margin-right:auto;
}

.item4:hover{

}

  #ProductsH1{
    text-align: center;
    font-size: 50%;
      border-bottom: 1px dotted black;
  }
  #producth2{
      text-align: center;
      font-size: 50%;
      border-bottom: 1px dotted black;
  }

.side{
    float: right;
}
#sidetext{
    font-size: 40%;
}
#ProductsList{
    list-style-type: none;
}


.buy-btn
{

}

