<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <header>

    </header>
    
    <section class="productDetail">
        <section class="product">
            <h3>Lasse</h3>
            <h4>Swedish pig</h4>
            <p>Likes long walks in the forest, and tastes delicous <br> Sex: Male <br> Weight: 120kg <br> Color: Pink</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </section>
</body>
</html>