<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Svine House Mafia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
</head>
<body>

    <div class="productDetail">
        <section class="product">
            <a class="backButton" href="SwePigFull.html">Back</a>

            <h4>Swedish Pig</h4>
            <h3>Olof</h3>
            <p>Likes long walks in the city, and tastes delicous<br> Sex: Male <br> Weight: 130kg <br> Color: Gris</p>
            <p class="pris">600 SEK</p>
            <button class="buyButton" type="button" >Buy</button>
        </section>
    </div>
</body>
</html>