<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product: Swedish Pig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="Product.css" />
    <script src="main.js"></script>
</head>

<body>

        <div class="container">
            <div class="item1">
            <p id ="ProductsH1">Swedish Pigs in Stock</p>
                <ul>
                <li><a href="SwePigDetails.html">Lasse</a></li>
                <li><a href="SwePigDetails2.html">Olof</a></li></ul></div>
            <div class=" side ">
            <h2 id ="producth2">Product Info</h2>
            <p id="sidetext">Our swedish pigs are one of our finest breeds.
            Our livestock consists of the descendants of the legendary Battle Boars 
            which in medieval times were famously used to terrify danish infatry.
            for more information select a pig to the left </p></div>
            <form id ="form" onsubmit ="alert(`Added ${form1.lastname.value} to Cart`)" name ="form1"></th>
                <input name="lastname" type ="text">
                    <input type = "submit" value ="Add to Cart">                
    </form>
        <div class="item2">
                
                              
                                  
                
             </div>  <!--Submit button-->
                
            </div>
</body>
</html>